body {
  background-color: #3710E8;
  color: white;
}

h1 {
  color: black;
}

h2 {
  width: auto;
  color: black;
  background-color: #08E8DB;
  border: 5px solid #08E8DB;
  border-radius:10px;

}

.container {
  text-align: center;
}

#instructions {
  display: none;
}

.form-group {
  padding: 10px;
  background-color: #5570FF;
  border: 5px solid #5570FF;
  border-radius:10px;
  display: none;
}

.answer-input {
  text-align: left;
}

a {
  color: white;
}
